<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/detail.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="icon" href="../assets/img/logo_dumbways.png">
    <title>Detail Project</title>
  </head>
  <body>
    
    <!-- Navigasi Bar -->
    <nav>
      <ul>
        <li>
          <a href="/">
            <img src="../assets/img/logo_dumbways.png" alt="Dumbways" />
          </a>
        </li>
        <li>
          <a href="/"> Home </a>
        </li>
        <li>
          <a href="/project"> Add Project </a>
        </li>
      </ul>

      <div class="btnContact">
        <a href="/contact">
          <button>Contact Me</button>
        </a>
      </div>
    </nav>

    <!-- Detail Project -->
    <section>
      <h1>{{dataDetail.title}}</h1>
      <div class="mainHeader">
        <div class="image">
          <img src="../assets/img/code.jpg" alt="Detail Project" />
        </div>
        <div class="side">
          <div class="duration">
            <h3>Duration</h3>
            <div class="col">
              <i class="fa-solid fa-calendar-days"></i>
              <span>{{dataDetail.sDate}} - {{dataDetail.eDate}}</span>
            </div>
            <div class="col">
              <i class="fa-solid fa-clock"></i>
              <span>{{dataDetail.duration}}</span>
            </div>
          </div>

          <div class="techno">
            <h3>Technologies</h3>
            <div class="col">
              <div class="row">
                {{#if isDefineNode}}
                <i class="fa-brands fa-{{dataDetail.techno.node}}"></i>
                <span>Node Js</span>
                  {{else}}
                  <i></i>
                {{/if}}
              </div>
              <div class="row">
                {{#if isDefineLaravel}}
                <i class="fa-brands fa-{{dataDetail.techno.laravel}}"></i>
                <span>Laravel Js</span>
                {{else}}
                  <i></i>
                {{/if}}
              </div>
            </div>
            <div class="col">
              <div class="row">
                {{#if isDefineReact}}
                <i class="fa-brands fa-{{dataDetail.techno.react}}"></i>
                <span>React Js</span>
                {{else}}
                {{/if}}
              </div>
              <div class="row">
                {{#if isDefineBootstrap}}
                <i class="fa-brands fa-{{dataDetail.techno.bootstrap}}"></i>
                <span>Bootstrap</span>
                {{else}}
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="content">
        <p>
        {{dataDetail.content}}
        </p>
      </div>
    </section>
  </body>
</html>
